.filter-header span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;

    opacity: 0.6;
    cursor: pointer;
}

.filter-header img {
    cursor: pointer;
}

.filter-option {
    /* height: 318px;
    padding: 2% 5%; */
    background-color: #f8f8f8;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0 !important;
    transition: all 0.5s;
}

.filter-option.active{
    height: 318px;
    padding: 2% 5%;
    margin-top: 16px !important;
}

.filter-option span {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
}

.filter-option span.filter-option-title {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 1;
}

.filter-option .color-item div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.filter-option .color-item .black {
    background-color: black;
}
.filter-option .color-item .cyan {
    background-color: #26bdb0;
}
.filter-option .color-item .green {
    background-color: #8fdb7b;
}
.filter-option .color-item .grey {
    background-color: #c4c4c4;
}
.filter-option .color-item .pink {
    background-color: #e74a8c;
}
.filter-option .color-item .white {
    background-color: white;
}
.filter-option .color-item .blue {
    background-color: #4095e3;
}

.filter-option input {
    width: 18px;
    height: 18px;
}
