.filter-header span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.filter-header img{
    cursor: pointer;
}